/* color palette */

:root {
  --color-primary: #e8ece0;
  --color-secondary: #f6f6ec;
  --color-accent: #fcfcf0;
  --color-outline: #c8ccc0;

  --color-headings: #222276;
  --color-body: #181870;
  --color-visited: #401848;
  --color-profile: #6d3025;

  --color-new: #175616;
  --color-new2: #087c71;
  --color-newvisited: #34b7f1;

  --color-dark1: #2a2f32;
  --color-dark2: #131c21;
  --color-dark3: #262d31;

  --color-headings2: #ffffff;
  --color-body2: #d4d5d7;
  --color-visited2: #059d8c;
}

/* Typography */

html {
  font-size: 62.5%;
  line-height: 1.5;
}

h3,
p {
  font-family: Tahoma, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial,
    sans-serif;
}

h1,
h2,
h3,
h4,
form,
div,
p,
img {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-body);
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

body,
div,
button,
input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 1.46667rem;
}

body {
  padding: 0.5rem 0.5rem;
  margin: 0;
}

/* header section */

.header,
.menu {
  background-color: var(--color-secondary);
  border-radius: 1.5rem;
  font-family: "Segoe UI", Tahoma, sans-serif;
  border: 1.2px solid var(--color-outline);
  padding: 0 0 0.6rem 0;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto 1rem auto;
  overflow: hidden;
}

.header h1 {
  height: 2.6rem;
  margin-bottom: 1.3rem;
}
a.logo {
  height: 2.5rem;
}
.logo > img {
  width: 24.6rem;
  height: 2.4rem;
}

.nav_list {
  padding-left: 0.6rem;
  margin: 0.2rem 0;
  line-height: 2rem;
}

.nav_list li {
  display: inline;
}

.nav_list1 > li :first-of-type {
  color: var(--color-profile);
}

.strokes li::after {
  content: " \002F";
}
.search_button,
.search_input {
  border: 1px solid var(--color-outline);
}

.search_input {
  border-radius: 1.2rem;
  border: 1px solid #c8ccc0;
  height: 2rem;
  min-width: 90px;
  width: 50%;
}

.search_button {
  background-color: white;
  border-radius: 1.2rem;
  font-size: 11pt;
  height: 2.6rem;
  padding: 0.2rem 0.7rem;
  width: 5.9rem;
}
.search_button:hover {
  background-color: var(--color-primary);
}

.nav_list2 li span {
  font-weight: bold;
}

/* menu */

.menu {
  text-align: left;
  padding: 0;
  border-top: 0;
}

.menu_header {
  background: var(--color-primary);
  border: 1px solid var(--color-outline);
}

.menu_list {
  margin: 0;
  padding: 0.6rem 0.8rem;
}

.menu_list li {
  display: inline;
}

.menu_list a {
  font-weight: bold;
}

.menu_header h3 {
  margin: 0;
  font-size: 1.7rem;
  text-align: center;
}
