<style>
  :root {
    --color-primary: #e8ece0;
    --color-secondary: #f6f6ec;
    --color-accent: #fcfcf0;
    --color-outline: #e1e3d8;

    --color-headings: #222276;
    --color-body: #222072;
    --color-visited: #401848;
    --color-profile: #6d3025;
  }

  /* Typography */

  html {
    font-size: 62.5%;
  }

  .header {
    background-color: var(--color-secondary);
    border-radius: 1.5rem;
    font-family: "Segoe UI", Tahoma, sans-serif;
    border: 1.2px solid var(--color-outline);
    padding: 1rem 1rem;
    text-align: center;
    max-width: 1040px;
    margin: auto;
  }

  .logo img {
    width: 24.6rem;
    height: 2.4rem;
  }

  .nav_list {
    padding-left: 0;
    margin: 0.2rem 0;
  }

  .nav_list a {
    color: var(--color-body);
    text-decoration: none;
  }

  .nav_list li {
    display: inline;
    font-size: 1.5rem;
  }

  .nav_list1 > li :first-of-type {
    color: red;
  }

  .strokes a {
    color: var(--color-headings);
    text-decoration: none;
  }

  .strokes a:hover,
  .nav_list a:hover {
    text-decoration: underline;
  }

  .strokes a::after {
    content: " /";
  }
  .search_button,
  .search_input {
    border-radius: 2rem;
    border: 1.2px solid var(--color-outline);
  }

  .search_input {
    width: 50%;
    height: 2.3rem;
  }

  .search_button {
    margin: 0 0.2rem;
    background-color: white;
    height: 2.8rem;
  }
  .search {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .search_button:hover {
    background-color: var(--color-primary);
  }

  .nav_list2 li span {
    font-weight: bold;
  }
</style>

<body>
  <section class="header">
    <a
      class="logo"
      href="https://www.nairaland.com/"
      class="g"
      title="Nairaland, the Nigerian Forum"
    >
      <img src="/images/nairaland-logo1.png" />
    </a>

    <ul class="nav_list nav_list1">
      <li>Welcome,</li>
      <li><a href="#">manos:</a>(m)</li>
      <span class="strokes">
        <li><a href="#">Edit Profile</a></li>
        <li><a href="#">SH</a></li>
        <li><a href="#">Followed Topics(57)</a></li>
        <li><a href="#">FB</a></li>
        <li><a href="#">L&S</a></li>
        <li><a href="#">MT</a></li>
        <li><a href="#">FG</a></li>
        <li><a href="#">FS</a></li>
        <li><a href="#">Trending</a></li>
        <li><a href="#">Recent</a></li>
      </span>
      <li><a href="#">New</a></li>
    </ul>
    <ul class="nav_list nav_list2">
      <li><span>Stats:</span> 2,655,835 members, 6,230,454 topics.</li>
      <li><span>Date:</span> Tuesday, 06 April 2021 at 09:24 PM</li>
      <li><a href="#">Logout(all)</a></li>
    </ul>
    <div class="search">
      <input class="search_input" type="text" />
      <button class="search_button">Search</button>
    </div>
  </section>
</body>
